* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.meme-slider{
    width: 100%;
    height: 100%;
    background-color:  #25282A;
    padding: 0.5rem;
}

.container {
    margin: 0.5rem auto;
    padding: 0.8rem 0;
    background-color: #25282A;
    font-family: 'Cabin', sans-serif;
    color: #fff;
    font-size: 1.5rem;
}

.slider-wrapper {
    display: flex;
    max-width: 80%;
    /* height: 600px; */
    overflow: hidden;
    margin: 0 auto 2rem;
    position: relative;
    border-radius: .5rem;
}
.slider-line {
    display: flex;
    /* height: 100%; */
    position: absolute;
    left: 0;
    transition: all .6s;
}

/* .slide {
    width: 1079px;
    height: 600px;
} */

.slide:nth-child(1) {
    background: url(./images/bean1.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.slide:nth-child(2) {
    background: url(./images/bean2.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.slide:nth-child(3) {
    background: url(./images/bean3.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.slide:nth-child(4) {
    background: url(./images/bean4.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.slide:nth-child(5) {
    background: url(./images/bean5.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.control-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto 1.8rem;
}

.slider-description {
    height: 2rem;
    width: 50%;
    overflow: hidden;
    position: relative;
}

.description-line {
    display: flex;
    position: absolute;
    left: 0;
    transition: all .6s;
}

.slider-controls {
    display: flex;
    justify-content: space-between;
    width: 12.5rem;
}

.dot-wrapper {
    padding: 0.5rem;
    cursor: pointer;
}

.dot {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;  
    background-color: #71ABFE;
    cursor: pointer;
}

.dot:hover {
    background-color: #fff;
    border: .2rem solid #fff;
}

.active {
    border: .2rem solid #71ABFE;
    background-color: transparent;
}

.dot:hover.active {
    border: .2rem solid #fff;
    background-color: transparent;
}

@media screen and (max-width: 730px) {
    .control-wrapper {
        flex-direction: column-reverse;
    }

    .slider-controls {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .slider-description {
        width: 75%;
    }
}